# DATABASE
DB_HOST=localhost
DB_USER=usuario
DB_PASS=senha
DB_NAME=zpErp
DB_PORT=3306

# APP
APP_PORT=7997
APP_SECRET=chave-secreta-jwt
APP_TIMEZONE=America/Sao_Paulo
NODE_ENV=development

# VITE
VITE_API_URL=http://localhost:7997
VITE_BASE_URL=http://localhost
VITE_API_PORT=7997
