# DATABASE
DB_HOST=localhost
DB_USERNAME=usuario
DB_PASSWORD=senha
DB_DATABASE=zpErp

# APP
APP_PORT=3000
APP_SECRET=chave-secreta-jwt
APP_TIMEZONE=America/Sao_Paulo
NODE_ENV=development

# VITE
VITE_API_URL=http://localhost:3000
VITE_BASE_URL=/
